/* Importing fonts and themes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap');
@import url('themes.css');

/* Font family definitions */
body {
    font-family: 'Source Code Pro', monospace;
}

.header, .nav-item a, code, pre, .home-link, .nav-item a {
    font-family: 'Source Code Pro', monospace;
}

/* Default variables */
:root {
    --font-family: 'Source Code Pro', monospace;
    --font-family-alt: 'Roboto', sans-serif;
/*    --color-gray-20: #e0e0e0;
    --color-gray-50: #C0C0C0;
    --color-gray-90: #333;
    --syntax-tab-size: 2;
    --text-color: #333;
    --background-color: #fff;
    --link-hover-color: #0056b3;
    --quinary-color: #f8f9fa;
    --secondary-color: #6c757d;*/
}

/* Global styles */
* {
    box-sizing: border-box;
}

/* General styles using theme variables */
body {
  padding: 0;
  margin: 0 auto;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 40em;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

p, li {
  color: var(--text-color);
}

code, pre {
  color: var(--text-color);
}

input, button {
  color: var(--input-text-color);
  background-color: var(--input-background-color);
  border-color: var(--input-border-color);
}

input:focus, button:focus {
  border-color: var(--input-focus-border-color);
}

/* Apply the rest of your styles */
.header {
  border-bottom: 1px dashed var(--border-color);
}

.nav {
  color: var(--text-color);
}

.nav-item a {
  color: var(--text-color);
}

.nav-item a:hover {
  color: var(--link-hover-color);
}

html {
    overflow-y: scroll;
}

a, .button {
    transition: color 0.3s, background-color 0.3s;
}

a:hover, .button:hover {
    color: var(--background-color);
    background-color: var(--link-hover-color);
}

p, li {
    line-height: 1.5;
}

p:last-child {
    margin-bottom: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main {
    padding: 1rem;
}

main :first-child {
    margin-top: 0;
}

header {
    border-bottom: 1px dashed var(--color-gray-20);
}

header:after {
    content: "";
    display: table;
    clear: both;
}

.links-nextprev {
    list-style: none;
    border-top: 1px dashed var(--color-gray-20);
    padding: 1em 0;
}

pre, code {
    font-family: var(--font-family);
}

pre:not([class*="language-"]) {
    margin: .5em 0;
    line-height: 1.375;
    -moz-tab-size: var(--syntax-tab-size);
    -o-tab-size: var(--syntax-tab-size);
    tab-size: var(--syntax-tab-size);
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
}

code {
    word-break: break-all;
}

/* Header */
header {
    display: flex;
    gap: 1em .5em;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
}

.home-link {
    font-size: 1em;
    font-weight: 700;
    margin-right: 2em;
}

.home-link:link:not(:hover) {
    text-decoration: none;
}

/* Nav */
.nav {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 1em;
}

.nav-item a[href]:not(:hover) {
    text-decoration: none;
}

.nav a[href][aria-current="page"] {
    text-decoration: underline;
}

/* Posts list */
.postlist {
    list-style: none;
    padding: 0;
    padding-left: 1.5rem;
}

.postlist-item {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    counter-increment: start-from -1;
    margin-bottom: 1em;
}

.postlist-item:before {
    display: inline-block;
    pointer-events: none;
    content: "" counter(start-from, decimal-leading-zero) ". ";
    line-height: 100%;
    text-align: right;
    margin-left: -1.5rem;
}

.postlist-date, .postlist-item:before {
    font-size: 0.8125em;
    color: var(--color-gray-90);
}

.postlist-date {
    word-spacing: -0.5px;
}

.postlist-link {
    font-size: 1.1875em;
    font-weight: 700;
    flex-basis: calc(100% - 1.5rem);
    padding-left: .25em;
    padding-right: .5em;
    text-underline-position: from-font;
    text-underline-offset: 0;
    text-decoration-thickness: 1px;
}

.postlist-item-active .postlist-link {
    font-weight: bold;
}

/* Tags */
.post-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-style: italic;
}

.postlist-item > .post-tag {
    align-self: center;
}

/* Tags list */
.post-metadata {
    display: inline-flex;
    flex-wrap: wrap;
    gap: .5em;
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-metadata time {
    margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
    text-decoration: none;
    font-style: normal;
    font-size: 1em;
    margin-left: .1em;
}

a[href].header-anchor, a[href].header-anchor:visited {
    color: transparent;
}

a[href].header-anchor:focus, a[href].header-anchor:hover {
    text-decoration: underline;
}

a[href].header-anchor:focus, :hover > a[href].header-anchor {
    color: #aaa;
}

h2 + .header-anchor {
    font-size: 1.5em;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    padding: 20px;
    border: 1px solid var(--color-gray-50);
}

.grid-item h2 {
    margin-top: 0;
}

/* Custom CSS for tags */
.posts-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

.post-item h2 {
    margin: 0 0 10px 0;
    font-size: 1.25rem;
}

.post-item h2 a {
    text-decoration: none;
    color: #333;
}

.post-item .post-meta {
    font-style: italic;
    color: #666;
}

/* Wiki */
.wiki-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.wiki-header h1 {
    margin-bottom: 0.5em;
}

.meta {
    color: #666;
    font-style: italic;
}

.wiki-content {
    margin-top: 20px;
}

.wiki-footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.wiki-links {
    list-style-type: none;
    padding: 0;
}

.wiki-links li {
    display: inline;
    margin-right: 10px;
}

.wiki-links a {
    text-decoration: none;
    color: #0074d9;
}

.wiki-links a:hover {
    text-decoration: underline;
}

/* Backlinks */
.backlinks-section {
    margin-top: 2em;
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.backlinks-section h2 {
    margin-bottom: 0.5em;
}

.backlinks-section ul {
    list-style: inside disc;
}

.backlinks-section ul li a {
    color: #0366d6;
}

/* Books */
.book {
    display: flex;
    flex-direction: column;
}

.activity-section {
    margin-bottom: 2rem;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.book img {
    width: 100%;
    max-width: 150px; /* Adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto; /* Center align the book cover */
}

.book-info h3, .book-info p {
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto; /* Center-align the list */
    display: inline-flex;
    gap: 20px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    body {
        max-width: none;
        padding: 0 1rem;
    }
}
/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  background-color: var(--table-background-color);
}

table th, table td {
  padding: 0.75em 1em;
  border: 1px solid var(--table-border-color);
  text-align: left;
  color: var(--table-header-text-color);
}

table tr:nth-child(even) {
  background-color: var(--background-color);
}

table th {
  font-weight: bold;
  background-color: var(--table-header-background-color);
  color: var(--table-header-text-color);
  padding: 1em;
  border-bottom: 2px solid var(--table-border-color);
}

table tr:hover {
  background-color: var(--table-header-background-color);
}

@media only screen and (max-width: 600px) {
  table, thead, tbody, th, td, tr {
      display: block;
  }

  table tr {
      margin-bottom: 1em;
  }

  table td {
      border: none;
      position: relative;
      padding-left: 50%;
  }

  table td:before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 45%;
      padding-left: 0.5em;
      font-weight: bold;
  }
}

/* Styling for the theme switcher dropdown */
nav {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 10px 20px;
}

#theme-select {
  padding: 8px;
  margin-left: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  border-radius: 4px;
  cursor: pointer;
}

#theme-select:focus {
  outline: none;
  border-color: var(--input-focus-border-color);
}

#theme-select::-ms-expand {
  display: none;
}

#theme-select::after {
  content: '▼';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  background: var(--link-hover-color);
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

.icon-pixelfed {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('/public/img/pixelfed.svg');
  background-size: cover;
}

/* Stop images from overflowing their containers */
img {
	max-width: 100%;
	height: auto;
}

.movie {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .movie img {
    margin-right: 1rem;
    border-radius: 4px;
  }
  
  .movie p {
    margin: 0;
  }
  
  .books-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .book {
    text-align: center;
    width: 150px;
  }
  
  .book img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .book-link {
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    color: #0077cc;
  }
  
  .book-link:hover {
    text-decoration: underline;
    color: #0055aa;
  }
  .centered-table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse; /* To remove gaps between table cells */
  }
  
  .centered-table td {
    vertical-align: top;
    width: 50%;
    padding: 20px;
    height: 100%; /* Ensures full height alignment */
  }
  
  .centered-table h2 {
    margin: 0 0 10px;
    text-align: center; /* Centers the header text */
  }
  
  .centered-table p {
    margin: 5px 0;
    text-align: center; /* Centers the paragraph text */
  }
  