---
layout: layouts/home.njk
eleventyNavigation:
  key: 🍃 garden
  order: 2
numberOfLatestPostsToShow: 3
---

<h1>🍃 Mike's Digital Garden 🍃</h1>
<p>Welcome to my digital garden! This is where I plant seeds of ideas, nurture them, and watch them grow. I'm always learning and experimenting, so this space is a reflection of that journey. I hope you find something interesting or useful here.</p>
<blockquote>
  <p>"Gardens and parks lie between farmland and wilderness. The garden is farmland that delights the senses, designed for delight rather than commodity."</p>
  <cite><a href="http://www.eastgate.com/garden/Gardens.html">Read more at Eastgate</a></cite>
</blockquote>
<h2>Terminology</h2>
<p>This is heavily borrowed from <a href="https://maggieappleton.com">Maggie Appleton's</a> website. I've adopted a similar system to help me keep track of the ideas I'm exploring.</p>
<ul>
<li><strong>🌱 Seedling</strong>: A new idea or concept that I'm exploring.</li>
<li><strong>🌿 Sprout</strong>: A seedling that has started to grow and take shape.</li>
<li><strong>🌳 Evergreen</strong>: A fully-formed idea that I've written about in detail.</li>
</ul>

{% set tagEmojis = {
  "technology": "👨‍💻",
  "philosophy": "📚",
  "productivity": "⏳",
  "indieweb": "🌐",
  "gaming": "🎮",
  "infosec": "🔒",
  "life": "🧬",
  "self-hosted": "🖥️",
  "recipe": "🍽️",
  "rss": "📰",
  "relationships": "👫",
  "love": "❤️",
  "privacy": "🕵️",
  "tools": "🛠️"
} %}

<div class="grid-container">
  {% for tag in collections.topTags %}
    <div class="tag-box">
      <h2>{{ tagEmojis[tag[0]] | default('🏷️') }} {{ tag[0] | capitalize }}</h2>
      <ul>
        {% for page in collections.all %}
          {% if page.data.tags and tag[0] in page.data.tags %}
            <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>

<h2>All Plantings</h2>
{% set postslist = collections.garden %}

{% include "postslist.njk" %}