---
layout: layouts/home.njk
eleventyNavigation:
  key: 🏡 home
  order: 1
numberOfLatestPostsToShow: 3
---
<div class="intro-text">
  <p>Thank you for visiting my new home on the Internet! I'm Mike Helmers, a simple man making his way through the galaxy. This site will grow as time goes on, so please check back often as it begins to take shape.</p>
</div>

{% set postsCount = collections.notes | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Note{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.notes | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more note{% if morePosts != 1 %}s{% endif %} can be found in <a href="/notes/">Mike's Notes</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
