---
layout: layouts/home.njk
eleventyNavigation:
  key: 🏡 home
  order: 1
numberOfLatestPostsToShow: 3
---
<div class="intro-text">
  <p>Thank you for visiting my new home on the Internet! I'm Mike Helmers, a simple man making his way through the galaxy. This site will grow as time goes on, so please check back often as it begins to take shape.</p>
  <p>These are my scribbles, rants, and pontifations. Enjoy.</p>
</div>
{# 
<div class="temporary-message">
  <p><strong>In Memory:</strong> I recently lost my brother, Tim. You can read more about him <a href="https://mike.helmers.me/garden/my-brother-tim/">here</a>.</p>
</div>
#}

{% set postsCount = collections.garden | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.garden | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/garden/">Mike's garden</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
