---
layout: layouts/home.njk
eleventyNavigation:
  key: 🗒️ notes
  order: 3
---
<h1>🗒️ mike's notes 🗒️</h1>

<p>These are my scribbles, rants, and pontifations. Enjoy.</p>

{% set postslist = collections.notes %}

{% include "postslist.njk" %}

