---
layout: layouts/home.njk
eleventyNavigation:
  key: 📚 Wiki
  order: 2
numberOfLatestPostsToShow: 3
---

<h1>📚 Mike's Wiki 📚</h1>

<p>These are my notes on various topics. This is based on the concept of a digital garden. It will be pruned and cultivated over time. I hope you find it useful.</p>

<h2>Topics</h2>

<!-- Assuming this is in wiki.njk or a similar template -->
<div class="grid-container">
  {% for topic in collections.wikiTopics %}
    <div class="grid-item">
      <h2>{{ topic | capitalize }} </h2>
      <ul>
        {% for item in collections[topic] %}
          <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
