<footer>
    <nav>
        <ul>
            <li><a href="https://github.com/northsaluki615" rel="me">@northsaluki615 on Github</a></li>
            <li><a rel="me" href="https://infosec.exchange/@northsaluki615">Mastodon</a></li>
            <li><a href="mailto:mikehelmers@proton.me" rel="me">mikehelmers@proton.me</a></li>
        </ul>
    </nav>
	<body>This page was built on {% currentBuildDate %}</body>
	{% if hCard %}
	<div class="h-card">
		<h2 class="p-name">{{ hCard.name }}</h2>
		<p class="p-role">{{ hCard.role }}</p>
		<p class="p-email">Email: <a href="mailto:{{ hCard.email }}">{{ hCard.email }}</a></p>
	</div>
	{% endif %}
</footer>