<footer>
    <nav>
        <ul>
            <li><a rel="me" href="https://github.com/northsaluki615"><i class="fa-brands fa-github"></i></a></li>
            <li><a rel="me" href="https://www.linkedin.com/in/michaelhelmers"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a rel="me" href="mailto:mikehelmers@proton.me"><i class="fa-regular fa-envelope"></i></a></li>
            <li><a rel="me" href="https://infosec.exchange/@northsaluki615"><i class="fa-brands fa-mastodon"></i></a></li>
            <li><a rel="me" href="https://mike.helmers.me/feed.xml"><i class="fa-solid fa-rss"></i></a></li>
        </ul>
    </nav>
    <p>This page was built with <a href="https://www.11ty.dev/">Eleventy</a> on {% currentBuildDate %}</p>
    {% if hCard %}
    <div class="h-card">
        <h2 class="p-name">{{ hCard.name }}</h2>
        <p class="p-role">{{ hCard.role }}</p>
        <p class="p-email">Email: <a href="mailto:{{ hCard.email }}">{{ hCard.email }}</a></p>
    </div>
    {% endif %}
    <link rel="webmention" href="https://webmention.io/mike.helmers.me/webmention" />
</footer>
