<div class="h-card visually-hidden">
    <a class="u-url" href="https://mike.helmers.me">
      <img class="u-photo" src="https://mike.helmers.me/path-to-your-photo.jpg" alt="Michael Helmers">
    </a>
    <a class="p-name u-url" href="https://mike.helmers.me">Michael Helmers</a>
    <a class="p-author h-card" href="https://mike.helmers.me">Michael Helmers</a>
    <p class="p-job-title">Infosec Engineer</p>
    <p class="p-note">This is my Eleventy website, now discoverable on the Fediverse!</p>
    <p class="p-adr">
      <span class="p-locality">Madison</span>,
      <span class="p-region">Wisconsin</span>,
      <span class="p-country-name">United States</span>
    </p>
    <a class="u-email" href="mailto:mikehelmers@proton.me">mikehelmers@proton.me</a>
    <a class="u-url" href="https://github.com/northsaluki615">northsaluki615</a>
    <a class="u-url" href="https://social.lol/@b00ksc0ut">b00ksc0ut</a>
</div>
