---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

<article class="h-entry">
  <h1 class="p-name">{{ title }}</h1>

  <ul class="post-metadata">
    <li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
    {%- for tag in tags | filterTagList %}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
    {%- endfor %}
  </ul>

  <div class="e-content">
    {{ content | safe }}
  </div>

  <a class="u-url" href="{{ page.url }}">
    Published <time class="dt-published">{{ page.date | htmlDateString }}</time>
  </a>
</article>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}

<hr>
  {% if backlinks.length > 0 %}
    <section class="linking-here">
      <h2>Articles Linking Here</h2>
      <ul>
        {% for link in backlinks %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}