---
layout: layouts/base.njk
---
<link rel="stylesheet" href="/css/prism-okaidia.css">
<link rel="stylesheet" href="/css/prism-diff.css">

<article class="h-entry">
  <h1 class="p-name">{{ title }}</h1>
  <div class="e-content">
    {{ content | safe }}

    <section class="activity-section reading-list">
      <h2>📚 Currently Reading 📚</h2>
      <div class="books-grid">
        {% for item in readinglist %}
          <div class="book">
            <img src="{{ item.book.cover }}" alt="Cover of {{ item.book.title }}">
            <div class="book-info">
              <h3>{{ item.book.title }}</h3>
              <p>Authors: {{ item.book.authors.join(", ") }}</p>
              <p>Published: {{ item.book.publishedDate | date("MMMM dd, yyyy") }}</p>
            </div>
          </div>
        {% else %}
          <p>I'm between books right now, check back later!</p>
        {% endfor %}
      </div>
    </section>

    <section class="activity-section">
      <h2>🎧 Listening 🎧</h2>
      <p>{{ listening | safe }}</p>
      {% if listeningEmbedUrl %}
        <iframe style="border-radius:12px" src="{{ listeningEmbedUrl }}" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      {% else %}
        <p>Update this section with what you're currently listening to.</p>
      {% endif %}
    </section>

    <section class="activity-section">
      <h2>📺 Watching 📺</h2>
      <p>{{ watching | safe }}</p>
    </section>

    <section class="activity-section">
      <h2>🍺 Drinking 🍺</h2>
      <p>{{ drinking | safe }}</p>
    </section>

    <section class="activity-section">
      <h2>🎮 Playing 🎮</h2>
      <p>{{ playing | safe }}</p>
    </section>
    
    <section class="activity-section">
      <h2>🛜 WiGLE 🛜</h2>
      <a href="https://wigle.net">
        <img border="0" src="https://wigle.net/bi/DCvuUkQ2MgkDGpCEUm_7ow.png">
      </a>
    </section>

  </div>
</article>

